* {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 370px;
  width: 240px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 9px black;
}
img {
  height: 200px;
  width: 240px;
  border-radius: 2px 2px 120px 0px;
  position: absolute;
  transition: .6s;
}
.txt-box {
  position: relative;
  top: 200px;
  transition: .5s;
}
.txt-box h2 {
  margin: 10px;
}
.txt-box p {
  font-size: 14px;
  font-weight: bold;
  margin: 16px;
}
.box {
  height: 20px;
  width: 20px;
  background-color: #00b04c;
  border-radius: 2px;
  position: relative;
  top: 192px;
  left: 10px;
  transition: .6s
}
.card:hover img {
  height: 370px;
  border-radius: 2px;
}
.card:hover .txt-box {
  top: 150px;
  opacity: 0;
}
.card:hover .box {
  background-color: white;
}